<div class="todo-item d-flex justify-content-between align-items-center"
  (mouseover)="isHovered=true"
  (mouseout)="isHovered=false"
>
  <div class="todo">
    <input 
      [ngClass]="{'checked':todo.isComplete}" 
      [id]="todo.id" [checked]="todo.isComplete" 
      type="checkbox" class="toggle text-center"
      (change)="changeTodoStatus()"
    />
    <label [@fadeStrikeThrough]="todo.isComplete ? 'completed' : 'active'" [for]="todo.id">{{todo.content}}</label>
  </div>
  <div class="d-flex align-items-center">
    <span class="icon-wrapper text-center edit" [hidden]="todo.isComplete" [ngClass]="{'active':isHovered}" (click)="isEditing=true">
      <i class="eva eva-edit-outline"></i>
    </span>
    <span class="icon-wrapper text-center" [ngClass]="{'active':isHovered}" (click)="removeTodo()">
      <i class="eva eva-close"></i>
    </span>
    <form action="" (keyup)="submitEdit($event)" class="edit-form" *ngIf="isEditing">
      <input [(ngModel)]="todo.content" type="text" name="editTodo" />
    </form>
  </div>
</div>
